#project notes
.project

#altruism executable
altruism

#hello world test
hello
hello.c

#fourier directory
fftw-3.3.10/

#Set up tips
Setup.odt
.~lock.Setup.odt#

#ziggurat test
zigtest.c
ziggurat.o

#polar test
polar
polar.c

#movement test
movtest
movtest.c

#initial output
filename.txt

